# Import package

In [126]:
import numpy as np
import pandas as pd

# Import DATA

In [127]:
insecurite = pd.read_csv('C:/Users/fafar/Documents/Data Analyst/P_4/insecurite alimentaire.csv')
population = pd.read_csv('C:/Users/fafar/Documents/Data Analyst/P_4/population.csv')
dispo_ali = pd.read_csv('C:/Users/fafar/Documents/Data Analyst/P_4/dispo_alimentaire.csv')
aide_ali = pd.read_csv('C:/Users/fafar/Documents/Data Analyst/P_4/aide_alimentaire.csv')

## Exploration de la Data Insécurité Alimentaire

In [128]:
insecurite.head()

          Zone      Année Valeur
0  Afghanistan  2012-2014    8.6
1  Afghanistan  2013-2015    8.8
2  Afghanistan  2014-2016    8.9
3  Afghanistan  2015-2017    9.7
4  Afghanistan  2016-2018   10.5

In [129]:
insecurite.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1218 entries, 0 to 1217
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Zone    1218 non-null   object
 1   Année   1218 non-null   object
 2   Valeur  624 non-null    object
dtypes: object(3)
memory usage: 28.7+ KB

In [130]:
insecurite.isnull().any()

Zone      False
Année     False
Valeur     True
dtype: bool

## Cleaning des Datas / Remplacement des NaN par 0

In [131]:
insecurite = insecurite.fillna(0)

In [132]:
#nous venons de remplacer les NaN par 0

In [133]:
missing_values_count = insecurite.isnull().sum()
print(missing_values_count)   #ici nous vérifions qu'il y a bien aucune valeur NaN dans nos colonnes

Zone      0
Année     0
Valeur    0
dtype: int64

### Transformation des object en float

In [134]:
insecurite['Valeur'] = pd.to_numeric(insecurite['Valeur'], errors = 'coerce')
print(insecurite.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1218 entries, 0 to 1217
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Zone    1218 non-null   object
 1   Année   1218 non-null   object
 2   Valeur  1098 non-null   float64
dtypes: float64(1), object(2)
memory usage: 28.7+ KB
None

## Suppression des éventuelles doublons

In [135]:
insecurite.drop_duplicates(keep = 'first', inplace=True)

### Mise en forme de valeur exprimé en million

In [136]:
insecurite['Valeur'] = insecurite['Valeur']*1000000
insecurite.head()

          Zone      Année      Valeur
0  Afghanistan  2012-2014   8600000.0
1  Afghanistan  2013-2015   8800000.0
2  Afghanistan  2014-2016   8900000.0
3  Afghanistan  2015-2017   9700000.0
4  Afghanistan  2016-2018  10500000.0

## Exploration de la Data Population

In [137]:
population.head(69)

               Zone  Année     Valeur
0       Afghanistan   2013  32269.589
1       Afghanistan   2014  33370.794
2       Afghanistan   2015  34413.603
3       Afghanistan   2016  35383.032
4       Afghanistan   2017  36296.113
..              ...    ...        ...
64  Arabie saoudite   2017  33101.179
65  Arabie saoudite   2018  33702.756
66        Argentine   2013  42196.030
67        Argentine   2014  42637.511
68        Argentine   2015  43075.416

[69 rows x 3 columns]

In [138]:
population.value_counts()

Zone                       Année  Valeur
Afghanistan                2013   32269.589    1
République dominicaine     2014   10165.183    1
République arabe syrienne  2014   18710.711    1
                           2013   19578.461    1
Rwanda                     2018   12301.970    1
                                              ..
Guyana                     2015   767.432      1
                           2014   763.380      1
                           2013   759.285      1
Guinée-Bissau              2018   1874.303     1
Îles Wallis-et-Futuna      2018   11.661       1
Length: 1416, dtype: int64

In [139]:
population.isnull().any()

Zone      False
Année     False
Valeur    False
dtype: bool

In [140]:
population.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1416 entries, 0 to 1415
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Zone    1416 non-null   object
 1   Année   1416 non-null   int64
 2   Valeur  1416 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 33.3+ KB

## Cleaning de Population
#### Supression des eventuels doublons

In [141]:
population.drop_duplicates(keep = 'first', inplace=True)

#### Mise en forme de valeur qui est exprimé en millier

In [142]:
population['Valeur'] = population['Valeur']*1000
population.head()

          Zone  Année      Valeur
0  Afghanistan   2013  32269589.0
1  Afghanistan   2014  33370794.0
2  Afghanistan   2015  34413603.0
3  Afghanistan   2016  35383032.0
4  Afghanistan   2017  36296113.0

# Exploration de la Data Dispo_Alimentaire

In [143]:
dispo_ali.head()

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
0,Afghanistan,Abats Comestible,animale,NaN,NaN,5.0,1.72,0.20,0.77,53.0,NaN,NaN,53.0,NaN,53.0,NaN,NaN,NaN
1,Afghanistan,"Agrumes, Autres",vegetale,NaN,NaN,1.0,1.29,0.01,0.02,41.0,2.0,40.0,39.0,2.0,3.0,NaN,NaN,NaN
2,Afghanistan,Aliments pour enfants,vegetale,NaN,NaN,1.0,0.06,0.01,0.03,2.0,NaN,2.0,2.0,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,Ananas,vegetale,NaN,NaN,0.0,0.00,NaN,NaN,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,Bananes,vegetale,NaN,NaN,4.0,2.70,0.02,0.05,82.0,NaN,82.0,82.0,NaN,NaN,NaN,NaN,NaN

In [144]:
dispo_ali.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15605 entries, 0 to 15604
Data columns (total 18 columns):
 #   Column                                                         Non-Null Count  Dtype
---  ------                                                         --------------  -----
 0   Zone                                                           15605 non-null  object
 1   Produit                                                        15605 non-null  object
 2   Origine                                                        15605 non-null  object
 3   Aliments pour animaux                                          2720 non-null   float64
 4   Autres Utilisations                                            5496 non-null   float64
 5   Disponibilité alimentaire (Kcal/personne/jour)                 14241 non-null  float64
 6   Disponibilité alimentaire en quantité (kg/personne/an)         14015 non-null  float64
 7   Disponibilité de matière grasse en quantité (g/personne/jour)  11794 non-null  float64
 8   Disponibilité de protéines en quantité (g/personne/jour)       11561 non-null  float64
 9   Disponibilité intérieure                                       15382 non-null  float64
 10  Exportations - Quantité                                        12226 non-null  float64
 11  Importations - Quantité                                        14852 non-null  float64
 12  Nourriture                                                     14015 non-null  float64
 13  Pertes                                                         4278 non-null   float64
 14  Production                                                     9180 non-null   float64
 15  Semences                                                       2091 non-null   float64
 16  Traitement                                                     2292 non-null   float64
 17  Variation de stock                                             6776 non-null   float64
dtypes: float64(15), object(3)
memory usage: 2.1+ MB

In [145]:
dispo_ali.isnull().sum()

Zone                                                                 0
Produit                                                              0
Origine                                                              0
Aliments pour animaux                                            12885
Autres Utilisations                                              10109
Disponibilité alimentaire (Kcal/personne/jour)                    1364
Disponibilité alimentaire en quantité (kg/personne/an)            1590
Disponibilité de matière grasse en quantité (g/personne/jour)     3811
Disponibilité de protéines en quantité (g/personne/jour)          4044
Disponibilité intérieure                                           223
Exportations - Quantité                                           3379
Importations - Quantité                                            753
Nourriture                                                        1590
Pertes                                                           11327
Production                                                        6425
Semences                                                         13514
Traitement                                                       13313
Variation de stock                                                8829
dtype: int64

In [146]:
dispo_ali.describe()

,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
count,2720.000000,5496.000000,14241.000000,14015.000000,11794.000000,11561.000000,15382.000000,12226.000000,14852.000000,14015.000000,4278.000000,9180.000000,2091.000000,2292.000000,6776.000000
mean,479.501838,157.391376,34.789832,8.719368,1.283111,1.223608,640.293460,110.596925,87.264543,347.931359,106.053763,1090.379085,73.974653,961.905323,-15.407615
std,4240.119637,5076.785816,107.287655,24.618223,3.680399,3.598686,9067.267153,1053.318990,717.372714,4475.704458,1113.100416,12067.344094,528.069224,10381.795904,549.834540
min,0.000000,0.000000,-21.000000,-1.930000,-0.030000,-0.370000,-3430.000000,-41.000000,-201.000000,-246.000000,0.000000,0.000000,0.000000,-19.000000,-39863.000000
25%,0.000000,0.000000,0.000000,0.060000,0.010000,0.010000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000
50%,4.000000,0.000000,4.000000,0.830000,0.080000,0.100000,7.000000,0.000000,2.000000,5.000000,4.000000,22.000000,2.000000,6.000000,0.000000
75%,74.000000,4.000000,21.000000,5.190000,0.630000,0.660000,76.750000,9.000000,18.000000,52.000000,26.000000,191.250000,17.000000,69.000000,0.000000
max,150000.000000,347309.000000,1711.000000,430.760000,60.760000,54.970000,739267.000000,42797.000000,63381.000000,426850.000000,55047.000000,739267.000000,17060.000000,326711.000000,5284.000000

## Nettoyage des données dispo_ali
### Remplacement des NaN par 0

In [147]:
# Remplacement des NaN par 0
dispo_ali = dispo_ali.fillna(0)

#### Verification du remplacement de tous les NaN

In [148]:
missing_values_count1 = dispo_ali.isnull().sum()
print(missing_values_count1)   #ici nous vérifions qu'il y a bien aucune valeur NaN dans nos colonnes

Zone                                                             0
Produit                                                          0
Origine                                                          0
Aliments pour animaux                                            0
Autres Utilisations                                              0
Disponibilité alimentaire (Kcal/personne/jour)                   0
Disponibilité alimentaire en quantité (kg/personne/an)           0
Disponibilité de matière grasse en quantité (g/personne/jour)    0
Disponibilité de protéines en quantité (g/personne/jour)         0
Disponibilité intérieure                                         0
Exportations - Quantité                                          0
Importations - Quantité                                          0
Nourriture                                                       0
Pertes                                                           0
Production                                                       0
Semences                                                         0
Traitement                                                       0
Variation de stock                                               0
dtype: int64

### Suppression de tous les doublons

In [149]:
dispo_ali.drop_duplicates(keep = 'first', inplace=True)  #Suppression des doublons

In [150]:
dispo_ali.head()

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
0,Afghanistan,Abats Comestible,animale,0.0,0.0,5.0,1.72,0.20,0.77,53.0,0.0,0.0,53.0,0.0,53.0,0.0,0.0,0.0
1,Afghanistan,"Agrumes, Autres",vegetale,0.0,0.0,1.0,1.29,0.01,0.02,41.0,2.0,40.0,39.0,2.0,3.0,0.0,0.0,0.0
2,Afghanistan,Aliments pour enfants,vegetale,0.0,0.0,1.0,0.06,0.01,0.03,2.0,0.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0
3,Afghanistan,Ananas,vegetale,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Afghanistan,Bananes,vegetale,0.0,0.0,4.0,2.70,0.02,0.05,82.0,0.0,82.0,82.0,0.0,0.0,0.0,0.0,0.0

In [151]:
colonnes_tonnes_tokg = ['Aliments pour animaux', 'Disponibilité intérieure', 'Exportations - Quantité',
                        'Importations - Quantité', 'Nourriture', 'Pertes', 'Production',
                        'Semences', 'Traitement', 'Variation de stock', 'Autres Utilisations']

for elt in colonnes_tonnes_tokg:
    dispo_ali[elt] *= 1000

In [152]:
dispo_ali.head()

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
0,Afghanistan,Abats Comestible,animale,0.0,0.0,5.0,1.72,0.20,0.77,53000.0,0.0,0.0,53000.0,0.0,53000.0,0.0,0.0,0.0
1,Afghanistan,"Agrumes, Autres",vegetale,0.0,0.0,1.0,1.29,0.01,0.02,41000.0,2000.0,40000.0,39000.0,2000.0,3000.0,0.0,0.0,0.0
2,Afghanistan,Aliments pour enfants,vegetale,0.0,0.0,1.0,0.06,0.01,0.03,2000.0,0.0,2000.0,2000.0,0.0,0.0,0.0,0.0,0.0
3,Afghanistan,Ananas,vegetale,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Afghanistan,Bananes,vegetale,0.0,0.0,4.0,2.70,0.02,0.05,82000.0,0.0,82000.0,82000.0,0.0,0.0,0.0,0.0,0.0

# Expolartion des datas Aide_Alimentaire

In [153]:
aide_ali.head()

  Pays bénéficiaire  Année              Produit  Valeur
0       Afghanistan   2013  Autres non-céréales     682
1       Afghanistan   2014  Autres non-céréales     335
2       Afghanistan   2013         Blé et Farin   39224
3       Afghanistan   2014         Blé et Farin   15160
4       Afghanistan   2013             Céréales   40504

In [154]:
aide_ali.count()

Pays bénéficiaire    1475
Année                1475
Produit              1475
Valeur               1475
dtype: int64

In [155]:
aide_ali.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1475 entries, 0 to 1474
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Pays bénéficiaire  1475 non-null   object
 1   Année              1475 non-null   int64
 2   Produit            1475 non-null   object
 3   Valeur             1475 non-null   int64
dtypes: int64(2), object(2)
memory usage: 46.2+ KB

In [156]:
aide_ali.describe()

             Année         Valeur
count  1475.000000    1475.000000
mean   2014.054237    7481.966780
std       0.946916   23339.531424
min    2013.000000       0.000000
25%    2013.000000     287.500000
50%    2014.000000    1178.000000
75%    2015.000000    4334.500000
max    2016.000000  265013.000000

In [157]:
aide_ali.isnull().any()

Pays bénéficiaire    False
Année                False
Produit              False
Valeur               False
dtype: bool

#### <i>Rien a signaler d'incoherent, on peut considerer que c'est clean</i>

## la proportion de personnes en état de sous-nutrition en 2017 ;

In [158]:
population.head()

          Zone  Année      Valeur
0  Afghanistan   2013  32269589.0
1  Afghanistan   2014  33370794.0
2  Afghanistan   2015  34413603.0
3  Afghanistan   2016  35383032.0
4  Afghanistan   2017  36296113.0

In [159]:
prop_sous_nutrition1 = pd.merge(population.loc[population['Année'] == 2017,["Zone", "Valeur"]],
                               insecurite.loc[insecurite['Année'] == '2016-2018',["Zone", "Valeur"]],
                               on='Zone')
prop_sous_nutrition1 = prop_sous_nutrition1.rename(columns={'Valeur_x':'Population', 'Valeur_y':'Insecurite'})
prop_sous_nutrition1.head()

             Zone  Population  Insecurite
0     Afghanistan  36296113.0  10500000.0
1  Afrique du Sud  57009756.0   3100000.0
2         Albanie   2884169.0    100000.0
3         Algérie  41389189.0   1300000.0
4       Allemagne  82658409.0         0.0

In [160]:
population_mondial = prop_sous_nutrition1['Population'].sum()
population_mondial

7543798779.0

In [161]:
print("Proportion de personnes en état de sous nutrition :", "{:.2f}".format(prop_sous_nutrition1['Insecurite'].sum()*100/prop_sous_nutrition1['Population'].sum()), "%")

Proportion de personnes en état de sous nutrition : 7.10 %

## Le nombre théorique de personnes qui pourraient être nourries

In [162]:
besoins_kcal_j = 2500 # besoins journaliers moyen en kilocalories
besoins_kcal_an= 365* besoins_kcal_j

In [163]:
dispo_ali2017 = pd.merge(population.loc[population['Année'] == 2017,["Zone", "Valeur"]],
                               dispo_ali, on='Zone')
dispo_ali2017.head()

,Zone,Valeur,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
0,Afghanistan,36296113.0,Abats Comestible,animale,0.0,0.0,5.0,1.72,0.20,0.77,53000.0,0.0,0.0,53000.0,0.0,53000.0,0.0,0.0,0.0
1,Afghanistan,36296113.0,"Agrumes, Autres",vegetale,0.0,0.0,1.0,1.29,0.01,0.02,41000.0,2000.0,40000.0,39000.0,2000.0,3000.0,0.0,0.0,0.0
2,Afghanistan,36296113.0,Aliments pour enfants,vegetale,0.0,0.0,1.0,0.06,0.01,0.03,2000.0,0.0,2000.0,2000.0,0.0,0.0,0.0,0.0,0.0
3,Afghanistan,36296113.0,Ananas,vegetale,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Afghanistan,36296113.0,Bananes,vegetale,0.0,0.0,4.0,2.70,0.02,0.05,82000.0,0.0,82000.0,82000.0,0.0,0.0,0.0,0.0,0.0

In [164]:
dispo_ali2017['Disponibilité alimentaire (Kcal/an)'] = dispo_ali2017['Disponibilité alimentaire (Kcal/personne/jour)'] \
* 365 * dispo_ali2017['Valeur']

In [165]:
population_mondial2017 = population.loc[population['Année'] == 2017,"Valeur"].sum()

population_mondial2017

7548134111.0

In [166]:
proportion_pop = round((dispo_ali2017['Disponibilité alimentaire (Kcal/an)'].sum() / besoins_kcal_an) / population_mondial2017*100, 2)
proportion_pop

110.86

In [167]:
dispo_ali2017['Disponibilité alimentaire (Kcal/an)'].sum()

print("Si on souhaite savoir combien de personne on pourrait nourrir par an, il faut diviser la disponibilité alimentaire kcal mondial sur un an par le besoin kcal mondial par an. Voici le resultat pour l'année 2017 :", "{:.0f}".format(dispo_ali2017['Disponibilité alimentaire (Kcal/an)'].sum() / besoins_kcal_an) ,"ce qui correspond à", proportion_pop, "% de la population mondial")

Si on souhaite savoir combien de personne on pourrait nourrir par an, il faut diviser la disponibilité alimentaire kcal mondial sur un an par le besoin kcal mondial par an. Voici le resultat pour l'année 2017 : 8367593851 ce qui correspond à 110.86 % de la population mondial

## Le nombre théorique de personnes qui pourraient être nourries grâce aux vegetaux

In [168]:
#ici nous faisons une jointure entre population et dispo_ali en ne selectionnant que les données avec l'origine "vegetale"
kcal_dispo_vegetaux = pd.merge(population.loc[population['Année'] == 2017,["Zone", "Valeur"]],
                               dispo_ali.loc[dispo_ali['Origine'] == "vegetale"], on='Zone')
kcal_dispo_vegetaux.head()

,Zone,Valeur,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
0,Afghanistan,36296113.0,"Agrumes, Autres",vegetale,0.0,0.0,1.0,1.29,0.01,0.02,41000.0,2000.0,40000.0,39000.0,2000.0,3000.0,0.0,0.0,0.0
1,Afghanistan,36296113.0,Aliments pour enfants,vegetale,0.0,0.0,1.0,0.06,0.01,0.03,2000.0,0.0,2000.0,2000.0,0.0,0.0,0.0,0.0,0.0
2,Afghanistan,36296113.0,Ananas,vegetale,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Afghanistan,36296113.0,Bananes,vegetale,0.0,0.0,4.0,2.70,0.02,0.05,82000.0,0.0,82000.0,82000.0,0.0,0.0,0.0,0.0,0.0
4,Afghanistan,36296113.0,Bière,vegetale,0.0,0.0,0.0,0.09,0.00,0.00,3000.0,0.0,3000.0,3000.0,0.0,0.0,0.0,0.0,0.0

In [169]:
kcal_dispo_vegetaux['Disponibilité alimentaire (Kcal/an)'] = kcal_dispo_vegetaux['Disponibilité alimentaire (Kcal/personne/jour)'] \
* 365 * kcal_dispo_vegetaux['Valeur']
kcal_dispo_vegetaux.head()

#nous avons à présent une nouvelle colonne Disponibilité alimentaire '(kcal/an)' pour faciliter le calcul .sum()

,Zone,Valeur,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock,Disponibilité alimentaire (Kcal/an)
0,Afghanistan,36296113.0,"Agrumes, Autres",vegetale,0.0,0.0,1.0,1.29,0.01,0.02,41000.0,2000.0,40000.0,39000.0,2000.0,3000.0,0.0,0.0,0.0,1.324808e+10
1,Afghanistan,36296113.0,Aliments pour enfants,vegetale,0.0,0.0,1.0,0.06,0.01,0.03,2000.0,0.0,2000.0,2000.0,0.0,0.0,0.0,0.0,0.0,1.324808e+10
2,Afghanistan,36296113.0,Ananas,vegetale,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00
3,Afghanistan,36296113.0,Bananes,vegetale,0.0,0.0,4.0,2.70,0.02,0.05,82000.0,0.0,82000.0,82000.0,0.0,0.0,0.0,0.0,0.0,5.299232e+10
4,Afghanistan,36296113.0,Bière,vegetale,0.0,0.0,0.0,0.09,0.00,0.00,3000.0,0.0,3000.0,3000.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00

In [170]:
print("Si on souhaite savoir combien de personne on pourrait nourrir par an, il faut diviser la disponibilité alimentaire kcal mondial des vegetaux sur un an par le besoin kcal mondial sur un an. Voici le resultat pour l'année 2017 :", "{:.0f}".format(kcal_dispo_vegetaux['Disponibilité alimentaire (Kcal/an)'].sum() / besoins_kcal_an))

Si on souhaite savoir combien de personne on pourrait nourrir par an, il faut diviser la disponibilité alimentaire kcal mondial des vegetaux sur un an par le besoin kcal mondial sur un an. Voici le resultat pour l'année 2017 : 6904305685

## Disponibilité intérieure

In [171]:

#Production + Importations – Exportations + Variation de stock = Disponibilité intérieure = Semences + Pertes + Nourriture + Aliments pour animaux + Traitement + Autres utilisations.


alim_animal = (dispo_ali['Aliments pour animaux'].sum() / dispo_ali['Disponibilité intérieure'].sum())*100

print("La proportion pour l'alimentation animal sur l'année 2017 est de", "{:.2f}".format(alim_animal),"%")

La proportion pour l'alimentation animal sur l'année 2017 est de 13.24 %

In [172]:
alim_perdu = (dispo_ali['Pertes'].sum() / dispo_ali['Disponibilité intérieure'].sum())*100
print("La proportion pour l'alimentation perdu sur l'année 2017 est de", "{:.2f}".format(alim_perdu),"%")

La proportion pour l'alimentation perdu sur l'année 2017 est de 4.61 %

In [173]:
alim_hu = (dispo_ali['Nourriture'].sum() / dispo_ali['Disponibilité intérieure'].sum())*100
print("La proportion pour l'alimentation humaine sur l'année 2017 est de", "{:.2f}".format(alim_hu),"%")

La proportion pour l'alimentation humaine sur l'année 2017 est de 49.51 %

## Réponse à Mélanie
####  la proportion de personnes sous-alimentées est la plus forte en 2017 / pays

In [174]:
prop_sous_nutrition1.head()
#on récupère le tableau précédent

             Zone  Population  Insecurite
0     Afghanistan  36296113.0  10500000.0
1  Afrique du Sud  57009756.0   3100000.0
2         Albanie   2884169.0    100000.0
3         Algérie  41389189.0   1300000.0
4       Allemagne  82658409.0         0.0

In [194]:
prop_sous_nutrition1['Proportion'] = (prop_sous_nutrition1['Insecurite'] / prop_sous_nutrition1['Population'] * 100)
prop_sous_nutrition1.sort_values(by='Proportion', ascending=False).head()
#création d'une colonne 'Proportion exprimé en %'

,Zone,Population,Insecurite,Proportion
78,Haïti,10982366.0,5300000.0,48.259182
157,République populaire démocratique de Corée,25429825.0,12000000.0,47.188685
108,Madagascar,25570512.0,10500000.0,41.062924
103,Libéria,4702226.0,1800000.0,38.279742
100,Lesotho,2091534.0,800000.0,38.249438


# Les 10 pays ou la proportion de personnes est la plus sous-alimentées en 2017

##### Les pays ayant le plus bénéficié d'aide depuis 2013

In [176]:
top_aide_ali = aide_ali.drop(columns=["Année", "Produit"])

In [177]:
top_aide_ali = top_aide_ali.groupby('Pays bénéficiaire').sum().sort_values('Valeur', ascending=False).head(10)
top_aide_ali
# Ci dessous les pays ayant le plus bénéficié d'aide depuis 2013

                                   Valeur
Pays bénéficiaire
République arabe syrienne         1858943
Éthiopie                          1381294
Yémen                             1206484
Soudan du Sud                      695248
Soudan                             669784
Kenya                              552836
Bangladesh                         348188
Somalie                            292678
République démocratique du Congo   288502
Niger                              276344

##### Les pays ayant le +/- de disponibilité alimentaire par habitant

In [192]:
classement_dispo_ali = dispo_ali2017[['Zone', 'Disponibilité alimentaire (Kcal/personne/jour)']].groupby(["Zone"]).sum()
classement_dispo_ali.sort_values(by="Disponibilité alimentaire (Kcal/personne/jour)").head(10)
#Les pays ayant le moins de disponibilité alimentaire en kcal par personne et par jour

                                            Disponibilité alimentaire (Kcal/personne/jour)
Zone
République centrafricaine                                                           1879.0
Zambie                                                                              1924.0
Madagascar                                                                          2056.0
Afghanistan                                                                         2087.0
Haïti                                                                               2089.0
République populaire démocratique de Corée                                          2093.0
Tchad                                                                               2109.0
Zimbabwe                                                                            2113.0
Ouganda                                                                             2126.0
Timor-Leste                                                                         2129.0

In [181]:
classement_dispo_ali.sort_values(by="Disponibilité alimentaire (Kcal/personne/jour)", ascending=False).head(10)
#Les pays ayant le plus de disponibilité alimentaire en kcal par personne et par jour

                       Disponibilité alimentaire (Kcal/personne/jour)
Zone
Autriche                                                       3770.0
Belgique                                                       3737.0
Turquie                                                        3708.0
États-Unis d'Amérique                                          3682.0
Israël                                                         3610.0
Irlande                                                        3602.0
Italie                                                         3578.0
Luxembourg                                                     3540.0
Égypte                                                         3518.0
Allemagne                                                      3503.0

## Répartition des céréales dans l'alimentation humaine et animale

In [182]:
cereales=['Blé et produits', 'Riz et produits', 'Orge et produits',
       'Maïs et produits', 'Seigle et produits', 'Avoine',
       'Millet et produits', 'Sorgho et produits', 'Céréales, Autres']

In [183]:
liste_cereales = dispo_ali2017[dispo_ali2017['Produit'].isin(cereales)]

In [184]:
liste_cereales.head()

,Zone,Valeur,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),...,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock,Disponibilité alimentaire (Kcal/an),Disponibilité alimentaire/habitant/an
12,Afghanistan,36296113.0,"Céréales, Autres",vegetale,0.0,0.0,0.0,0.00,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0
67,Afrique du Sud,57009756.0,Avoine,vegetale,8000.0,0.0,5.0,0.75,0.09,0.16,...,4000.0,25000.0,40000.0,1000.0,28000.0,1000.0,0.0,0.0,1.040428e+11,1825.0
81,Afrique du Sud,57009756.0,"Céréales, Autres",vegetale,8000.0,0.0,1.0,0.07,0.00,0.02,...,10000.0,3000.0,4000.0,0.0,19000.0,0.0,0.0,0.0,2.080856e+10,365.0
162,Albanie,2884169.0,Avoine,vegetale,25000.0,0.0,1.0,0.13,0.01,0.03,...,0.0,1000.0,0.0,1000.0,27000.0,1000.0,0.0,0.0,1.052722e+09,365.0
176,Albanie,2884169.0,"Céréales, Autres",vegetale,0.0,0.0,0.0,0.08,0.00,0.01,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0

In [185]:
ali_cereale_animaux = liste_cereales['Aliments pour animaux'].sum() / liste_cereales['Disponibilité intérieure'].sum()*100
print("Ici nous pouvons constater que","{:.2f}".format(ali_cereale_animaux),"% des céréales étaient désintés à l`alimentation animal")

Ici nous pouvons constater que 69.67 % des céréales étaient désintés à l`alimentation animal

In [186]:
ali_cereale_homme = liste_cereales['Nourriture'].sum() / liste_cereales['Disponibilité intérieure'].sum()*100
print("Ici nous pouvons constater que","{:.2f}".format(ali_cereale_homme),"% des céréales étaient désintés à l`alimentation humaine")

Ici nous pouvons constater que 17.63 % des céréales étaient désintés à l`alimentation humaine

## Zoom sur le manioc en Thaïlande, rapport exportation/production

In [187]:
dispo_ali2017.head(60)

,Zone,Valeur,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),...,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock,Disponibilité alimentaire (Kcal/an),Disponibilité alimentaire/habitant/an
0,Afghanistan,36296113.0,Abats Comestible,animale,0.0,0.0,5.0,1.72,0.20,0.77,...,0.0,0.0,53000.0,0.0,53000.0,0.0,0.0,0.0,6.624041e+10,1825.0
1,Afghanistan,36296113.0,"Agrumes, Autres",vegetale,0.0,0.0,1.0,1.29,0.01,0.02,...,2000.0,40000.0,39000.0,2000.0,3000.0,0.0,0.0,0.0,1.324808e+10,365.0
2,Afghanistan,36296113.0,Aliments pour enfants,vegetale,0.0,0.0,1.0,0.06,0.01,0.03,...,0.0,2000.0,2000.0,0.0,0.0,0.0,0.0,0.0,1.324808e+10,365.0
3,Afghanistan,36296113.0,Ananas,vegetale,0.0,0.0,0.0,0.00,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0
4,Afghanistan,36296113.0,Bananes,vegetale,0.0,0.0,4.0,2.70,0.02,0.05,...,0.0,82000.0,82000.0,0.0,0.0,0.0,0.0,0.0,5.299232e+10,1460.0
5,Afghanistan,36296113.0,"Beurre, Ghee",animale,0.0,0.0,23.0,1.17,2.61,0.03,...,0.0,0.0,36000.0,0.0,36000.0,0.0,0.0,0.0,3.047059e+11,8395.0
6,Afghanistan,36296113.0,Bière,vegetale,0.0,0.0,0.0,0.09,0.00,0.00,...,0.0,3000.0,3000.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0
7,Afghanistan,36296113.0,Blé,vegetale,0.0,0.0,1369.0,160.23,4.69,36.91,...,0.0,1173000.0,4895000.0,775000.0,5169000.0,322000.0,0.0,-350000.0,1.813662e+13,499685.0
8,Afghanistan,36296113.0,Boissons Alcooliques,vegetale,0.0,0.0,0.0,0.00,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0
9,Afghanistan,36296113.0,Café,vegetale,0.0,0.0,0.0,0.00,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0
10,Afghanistan,36296113.0,Coco (Incl Coprah),vegetale,0.0,0.0,0.0,0.00,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0
11,Afghanistan,36296113.0,Crème,animale,0.0,0.0,3.0,0.60,0.32,0.04,...,0.0,18000.0,18000.0,0.0,0.0,0.0,0.0,0.0,3.974424e+10,1095.0
12,Afghanistan,36296113.0,"Céréales, Autres",vegetale,0.0,0.0,0.0,0.00,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0
13,Afghanistan,36296113.0,Dattes,vegetale,0.0,0.0,0.0,0.02,0.00,0.00,...,0.0,1000.0,1000.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0
14,Afghanistan,36296113.0,Edulcorants Autres,vegetale,0.0,0.0,2.0,0.53,0.00,0.00,...,0.0,16000.0,16000.0,0.0,0.0,0.0,0.0,0.0,2.649616e+10,730.0
15,Afghanistan,36296113.0,Feve de Cacao,vegetale,0.0,0.0,0.0,0.02,0.04,0.01,...,0.0,1000.0,1000.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0
16,Afghanistan,36296113.0,"Fruits, Autres",vegetale,0.0,0.0,9.0,7.29,0.06,0.14,...,69000.0,4000.0,223000.0,17000.0,304000.0,0.0,0.0,1000.0,1.192327e+11,3285.0
17,Afghanistan,36296113.0,Graines de coton,vegetale,0.0,0.0,0.0,0.00,0.00,0.00,...,0.0,0.0,0.0,0.0,27000.0,1000.0,26000.0,0.0,0.000000e+00,0.0
18,Afghanistan,36296113.0,Graines de tournesol,vegetale,0.0,0.0,0.0,0.00,0.00,0.00,...,0.0,0.0,0.0,0.0,3000.0,0.0,3000.0,0.0,0.000000e+00,0.0
19,Afghanistan,36296113.0,Graisses Animales Crue,animale,0.0,0.0,12.0,0.49,1.31,0.01,...,0.0,1000.0,15000.0,0.0,14000.0,0.0,0.0,0.0,1.589770e+11,4380.0
20,Afghanistan,36296113.0,Huil Plantes Oleif Autr,vegetale,0.0,359000.0,2.0,0.08,0.21,0.00,...,0.0,360000.0,2000.0,0.0,1000.0,0.0,0.0,0.0,2.649616e+10,730.0
21,Afghanistan,36296113.0,Huile Graines de Coton,vegetale,0.0,1000.0,3.0,0.12,0.34,0.00,...,0.0,0.0,4000.0,0.0,5000.0,0.0,0.0,0.0,3.974424e+10,1095.0
22,Afghanistan,36296113.0,Huile d'Arachide,vegetale,0.0,0.0,0.0,0.00,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0
23,Afghanistan,36296113.0,Huile d'Olive,vegetale,0.0,0.0,0.0,0.02,0.05,0.00,...,0.0,0.0,1000.0,0.0,1000.0,0.0,0.0,0.0,0.000000e+00,0.0
24,Afghanistan,36296113.0,Huile de Colza&Moutarde,vegetale,0.0,0.0,2.0,0.07,0.18,0.00,...,0.0,2000.0,2000.0,0.0,0.0,0.0,0.0,0.0,2.649616e+10,730.0
25,Afghanistan,36296113.0,Huile de Palme,vegetale,0.0,55000.0,51.0,2.09,5.74,0.00,...,0.0,119000.0,64000.0,0.0,0.0,0.0,0.0,0.0,6.756521e+11,18615.0
26,Afghanistan,36296113.0,Huile de Soja,vegetale,0.0,0.0,13.0,0.53,1.46,0.00,...,0.0,16000.0,16000.0,0.0,0.0,0.0,0.0,0.0,1.722251e+11,4745.0
27,Afghanistan,36296113.0,Huile de Sésame,vegetale,0.0,0.0,1.0,0.05,0.13,0.00,...,0.0,0.0,1000.0,0.0,1000.0,0.0,0.0,0.0,1.324808e+10,365.0
28,Afghanistan,36296113.0,Huile de Tournesol,vegetale,0.0,0.0,18.0,0.75,2.06,0.00,...,0.0,22000.0,23000.0,0.0,1000.0,0.0,0.0,0.0,2.384655e+11,6570.0
29,Afghanistan,36296113.0,Lait - Excl Beurre,animale,123000.0,0.0,100.0,62.23,5.19,6.12,...,0.0,248000.0,1901000.0,58000.0,1835000.0,0.0,0.0,0.0,1.324808e+12,36500.0
30,Afghanistan,36296113.0,"Légumes, Autres",vegetale,0.0,0.0,17.0,28.97,0.13,0.85,...,34000.0,124000.0,885000.0,122000.0,916000.0,0.0,0.0,0.0,2.252174e+11,6205.0
31,Afghanistan,36296113.0,Légumineuses Autres,vegetale,4000.0,0.0,23.0,2.44,0.14,1.56,...,0.0,26000.0,74000.0,3000.0,60000.0,5000.0,0.0,0.0,3.047059e+11,8395.0
32,Afghanistan,36296113.0,Maïs,vegetale,200000.0,0.0,21.0,2.50,0.30,0.56,...,0.0,1000.0,76000.0,31000.0,312000.0,5000.0,0.0,0.0,2.782097e+11,7665.0
33,Afghanistan,36296113.0,Miel,vegetale,0.0,0.0,1.0,0.07,0.00,0.00,...,0.0,0.0,2000.0,0.0,2000.0,0.0,0.0,0.0,1.324808e+10,365.0
34,Afghanistan,36296113.0,Millet,vegetale,0.0,0.0,3.0,0.40,0.02,0.08,...,0.0,0.0,12000.0,1000.0,13000.0,0.0,0.0,0.0,3.974424e+10,1095.0
35,Afghanistan,36296113.0,Miscellanees,vegetale,0.0,0.0,1.0,0.00,0.02,0.02,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.324808e+10,365.0
36,Afghanistan,36296113.0,Noix,vegetale,0.0,0.0,12.0,1.45,1.07,0.38,...,12000.0,0.0,44000.0,0.0,56000.0,0.0,0.0,0.0,1.589770e+11,4380.0
37,Afghanistan,36296113.0,Oeufs,animale,0.0,0.0,5.0,1.30,0.36,0.38,...,0.0,29000.0,40000.0,5000.0,18000.0,2000.0,0.0,0.0,6.624041e+10,1825.0
38,Afghanistan,36296113.0,Olives,vegetale,0.0,0.0,0.0,0.06,0.03,0.00,...,0.0,0.0,2000.0,0.0,7000.0,0.0,4000.0,0.0,0.000000e+00,0.0
39,Afghanistan,36296113.0,"Oranges, Mandarines",vegetale,0.0,0.0,4.0,4.75,0.01,0.07,...,0.0,139000.0,145000.0,0.0,6000.0,0.0,0.0,0.0,5.299232e+10,1460.0
40,Afghanistan,36296113.0,Orge,vegetale,360000.0,0.0,26.0,2.92,0.24,0.79,...,0.0,10000.0,89000.0,52000.0,514000.0,22000.0,0.0,0.0,3.444501e+11,9490.0
41,Afghanistan,36296113.0,"Plantes Oleiferes, Autre",vegetale,0.0,0.0,0.0,0.00,0.00,0.00,...,0.0,0.0,0.0,0.0,3000.0,0.0,2000.0,0.0,0.000000e+00,0.0
42,Afghanistan,36296113.0,Poissons Eau Douce,animale,0.0,0.0,0.0,0.07,0.00,0.02,...,0.0,0.0,2000.0,0.0,2000.0,0.0,0.0,0.0,0.000000e+00,0.0
43,Afghanistan,36296113.0,Poivre,vegetale,0.0,0.0,0.0,0.00,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0
44,Afghanistan,36296113.0,Pommes,vegetale,0.0,0.0,3.0,2.22,0.01,0.02,...,7000.0,0.0,68000.0,4000.0,79000.0,0.0,0.0,0.0,3.974424e+10,1095.0
45,Afghanistan,36296113.0,Pommes de Terre,vegetale,0.0,0.0,15.0,7.53,0.04,0.25,...,41000.0,0.0,230000.0,9000.0,303000.0,23000.0,0.0,0.0,1.987212e+11,5475.0
46,Afghanistan,36296113.0,Raisin,vegetale,0.0,0.0,29.0,15.80,0.12,0.27,...,97000.0,0.0,483000.0,31000.0,611000.0,0.0,0.0,0.0,3.841944e+11,10585.0
47,Afghanistan,36296113.0,Riz (Eq Blanchi),vegetale,0.0,0.0,141.0,13.82,0.27,2.70,...,0.0,119000.0,422000.0,24000.0,342000.0,14000.0,0.0,0.0,1.867979e+12,51465.0
48,Afghanistan,36296113.0,Sucre Eq Brut,vegetale,0.0,0.0,84.0,8.35,0.00,0.00,...,0.0,271000.0,255000.0,0.0,2000.0,0.0,0.0,-19000.0,1.112839e+12,30660.0
49,Afghanistan,36296113.0,"Sucre, betterave",vegetale,0.0,0.0,0.0,0.00,0.00,0.00,...,0.0,0.0,0.0,0.0,15000.0,0.0,15000.0,0.0,0.000000e+00,0.0
50,Afghanistan,36296113.0,"Sucre, canne",vegetale,81000.0,0.0,0.0,0.00,0.00,0.00,...,0.0,0.0,0.0,0.0,90000.0,0.0,9000.0,0.0,0.000000e+00,0.0
51,Afghanistan,36296113.0,Sésame,vegetale,0.0,0.0,9.0,0.52,0.77,0.27,...,11000.0,0.0,16000.0,1000.0,32000.0,1000.0,4000.0,0.0,1.192327e+11,3285.0
52,Afghanistan,36296113.0,Thé,vegetale,0.0,0.0,4.0,3.49,0.00,0.96,...,0.0,107000.0,107000.0,0.0,0.0,0.0,0.0,0.0,5.299232e+10,1460.0
53,Afghanistan,36296113.0,Tomates,vegetale,0.0,0.0,0.0,0.00,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0
54,Afghanistan,36296113.0,Viande d'Ovins/Caprins,animale,0.0,0.0,31.0,4.92,2.55,1.91,...,0.0,0.0,150000.0,0.0,150000.0,0.0,0.0,0.0,4.106905e+11,11315.0
55,Afghanistan,36296113.0,Viande de Bovins,animale,0.0,0.0,27.0,4.59,2.10,1.89,...,0.0,6000.0,140000.0,0.0,134000.0,0.0,0.0,0.0,3.576982e+11,9855.0
56,Afghanistan,36296113.0,Viande de Volailles,animale,0.0,0.0,9.0,2.45,0.53,0.87,...,0.0,48000.0,75000.0,0.0,26000.0,0.0,0.0,0.0,1.192327e+11,3285.0
57,Afghanistan,36296113.0,"Viande, Autre",animale,0.0,0.0,1.0,0.38,0.06,0.17,...,0.0,0.0,12000.0,0.0,12000.0,0.0,0.0,0.0,1.324808e+10,365.0
58,Afghanistan,36296113.0,Vin,vegetale,0.0,0.0,0.0,0.00,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0
59,Afghanistan,36296113.0,"Épices, Autres",vegetale,0.0,0.0,2.0,0.26,0.10,0.11,...,5000.0,0.0,8000.0,0.0,13000.0,0.0,0.0,0.0,2.649616e+10,730.0

In [188]:
manioc=['Manioc'] 
thai = ['Thaïlande']
thailande_manioc = dispo_ali2017[dispo_ali2017['Produit'].isin(manioc) & dispo_ali2017['Zone'].isin(thai)]

In [189]:
thailande_manioc.head()

,Zone,Valeur,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),...,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock,Disponibilité alimentaire (Kcal/an),Disponibilité alimentaire/habitant/an
14166,Thaïlande,69209810.0,Manioc,vegetale,1800000.0,2081000.0,40.0,13.0,0.05,0.14,...,25214000.0,1250000.0,871000.0,1511000.0,30228000.0,0.0,0.0,0.0,1.010463e+12,14600.0

In [190]:
rapport = thailande_manioc['Exportations - Quantité'].sum() / thailande_manioc['Production'].sum()*100


print("Nous pouvons constater que", "{:.4}".format(rapport),"% de la production est déstiné à l'exportation")

Nous pouvons constater que 83.41 % de la production est déstiné à l'exportation

In [191]:
thai = prop_sous_nutrition1.loc[prop_sous_nutrition1['Zone'] == 'Thaïlande',:]
print("Ci-dessous la proportion des personnes en état de sous-nutrition ↓")
thai

Ci-dessous la proportion des personnes en état de sous-nutrition ↓

          Zone  Population  Insecurite  Proportion
185  Thaïlande  69209810.0   6200000.0    8.958268